
button {
    border:none;
    font-size: 1rem;
    padding: 10px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

    // From tokens
    font-family: var( --font-platform-system);
    color: var(--color-text-oncolor);
    background-color: var(--interactive-default);
}

button:hover {
    background-color: var(--interactive-hover);
    cursor: pointer;
}