@use './src/scss/utilities.scss' as *;
@use './src/scss/themes.scss' as *;

.sds-card {

  // Non-themed props
  font-size: 16px;
  margin-top: 4rem;

  @include themify($theme) {
    background:themed('cardBackground');  
    border-radius: themed('cardBorderRadius');
  }
  -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;

  .content {
    padding: 3rem 2rem;
    @include themify($theme) {
      text-align:themed('cardAlignment');  
    }
  }

  .img {
    position: relative;
    
    @include themify($theme){
      height: themed('avatarContainerHeight');
      background-color: themed('avatarBackgroundColor');
      
      border-top-left-radius: themed('cardBorderRadius');
      border-top-right-radius: themed('cardBorderRadius');
      
    }
    -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
    
    img {
        position: absolute;
        @include themify($theme){
          right: themed('avatarPositionRight');
          top: themed('avatarPositionTop');
          border-radius: themed('avatarBorderRadius');
          border-color:themed(pageBackgroundColor);
          width: themed(avatarWidth);
          height: themed(avatarHeight);
          
        }
        border-style: solid;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
        
    }
    margin-bottom:20px;
    
  }
}