@use './src/scss/utilities.scss' as *;
@use './src/scss/themes.scss' as *;

@function getValue($onetheme, $property) {
    @return map-get(map-get($theme, $onetheme), $property);
}
  
body {
    line-height:150%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;

    background-color: getValue(sds-light,pageBackgroundColor);
    font-family: getValue(sds-light,bodyFont);
    color: getValue(sds-light,bodyFontColor);
    
}

header {
    height: 50px;
}

h1,h2,h3,h4,h5,h6 {
    @include themify($theme) {
        font-family:themed('headingFont');
        color:themed('headingsFontColor');
    }
}

h1 {
    @include themify($theme) {
        font-size:themed('heading1Size');
    }
    margin-bottom: .5rem;
}

main {
    margin:0 auto;
    @include themify($theme) {
        width: themed('cardWidth');
    }
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

strong {
    display: block;
}

button {
    margin: 2rem 0 1rem 0;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



section {
    
   article {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
   }
}

footer {
    
    border-radius: 0 0 10px 10px;
    @include themify($theme) {
        margin-top: (themed('layerPadding')/2);
        padding-bottom: themed('buttonPadding');
    }
}