@use '@sicpa-dlab/sicpa-design-tokens/build/web/brand-3/tokens' as brand;

$themes: (
  A: (

    /* Global */
    pageBackgroundColor: brand.$color-page-background,
    
    /* Text */
    bodyFont: brand.$font-family-base, 
    headingFont: brand.$font-family-headers,

    /* Button */
    buttonTextTransform: none,
    buttonTextColor: brand.$color-neutral-white,
    buttonTextHoverColor: brand.$color-neutral-white,
    buttonBorderRadius: brand.$border-radius-default,
    buttonColor: brand.$button-color-background-rest,
    buttonHoverColor: brand.$button-color-background-hover,
    buttonHoverActive: brand.$button-color-background-pressed,

    /* Card */
    layerBackgroundColor: brand.$color-layer-background,

    /* Link */
    linkTextColor: brand.$button-color-background-rest
    
  ),
  B: (
    // TO DO: build case for dark theme?
  )
);