@use '@sicpa-dlab/sicpa-design-tokens/build/web/theme-3/tokens' as theme;

$theme: (
  sds-light: (

    /* Global */
    pageBackgroundColor: theme.$color-background-ui,
    
    /* Text */
    headingsFont: theme.$font-family-headings,
    heading1Size: theme.$font-heading1,
    headingsFontColor: theme.$text-primary,
    bodyFont: theme.$font-family-body, 
    bodyFontColor: theme.$text-secondary,
    
    /* Button */
    buttonColor: theme.$button-primary-rest,
    buttonHoverColor: theme.$button-primary-hover,
    buttonActivePressed: theme.$button-primary-pressed,
    buttonPadding: theme.$theme-button-type, // Note: this is is for demo purposes only
    buttonTextColor: theme.$text-oncolor,
    buttonBorderRadius: theme.$button-border-radius,
    

    /* Card */
    // Note: this is is for demo purposes only
    // Not all of the props below should be customisable
    cardBorderRadius: theme.$card-border-radius,
    cardBackground: theme.$card-background,
    cardAlignment: theme.$card-content-alignment,
    avatarBorderRadius: theme.$theme-card-avatar-border-radius,
    avatarBackgroundColor: theme.$card-avatar-background,
    avatarContainerHeight: theme.$card-header-height,
    cardWidth: theme.$card-width,
    avatarWidth: theme.$card-avatar-widthheight,
    avatarHeight: theme.$card-avatar-widthheight,

    
    
    footerColor: theme.$color-brand-100,
    
    
    avatarPositionRight:theme.$avatar-position-right,
    avatarPositionTop:theme.$avatar-position-top,


    /* Link */
    linkTextColor: theme.$button-primary-rest,
    linkTextHoverColor: theme.$color-brand-800,
    
  ),
  sds-dark: (
    // TO DO: build case for dark theme?
    
  )
);