@use './src/scss/utilities.scss' as *;
@use './src/scss/themes.scss' as *;

.myLink {
    
    // Non-themed props
    

    // Themed props
    @include themify($theme) {
      color: themed('linkTextColor'); 
      
      &:hover {
        color: themed('linkTextHoverColor'); 
        text-decoration: underline;
        cursor: pointer;
      }
    }
}